.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.box-container .box-content{
    display: flex;
    flex-direction: column;
}
.box-container .box-content .profile_information{
    width: 972px;
    height: 288px;
    display: flex;
    justify-content: space-between;

}
.box-container .box-content .profile_information .card_infrormation{
    width: 241px;
    height: 271px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
}
.box-container .box-content .profile_information .card_infrormation img{
    width: 111px;
    height: 111px;
    border-radius: 50%;
    margin-bottom: 35px;
    margin-top: 27px;

}
.box-container .box-content .profile_information .card_infrormation h2{
    margin-bottom: 6px;
    font-size: 20px;
    color: #4A3AFF;

}
.box-container .box-content .profile_information .card_infrormation p{
    color: #4a3affcf;

}
.box-container .box-content .profile_information .card_infrormation i{
    color: #00000085;
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;

}
.box-container .box-content .profile_information .card_infrormation i:hover{
  font-size: 22px;

}
.box-container .box-content .profile_information .background_image{
    width: 702px;
    height: 288px;
    position: relative;
}
.box-container .box-content .profile_information .background_image img{
    border-radius: 15px;
}
.box-container .box-content .profile_information .background_image i{
    color: #00000085;
    position: absolute;
    top: 9px;
    right: 16px;
    cursor: pointer;
}
.box-container .box-content .profile_information .background_image i:hover{
    font-size: 22px;
}
.box-container .box-content .my_researchs {
    
    display: flex;
    justify-content: space-evenly;
    margin-top: 36px;

  
}
.box-container .box-content .my_researchs .card_infrormation{
    width: 38%;
    height: 271px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
}
.box-container .box-content .my_researchs .card_infrormation .header_card{
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 8px;


}
.box-container .box-content .my_researchs .card_infrormation .header_card p{
    font-size: 11px;
    color: #4A3AFF;
    font-weight: bold;
    cursor: pointer;

}
.box-container .box-content .my_researchs .card_infrormation .content_card{
    background-color: #F5F4FF;
    width: 90%;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

}
.box-container .box-content .my_researchs .card_infrormation .content_card img{
   width: 37px;
   height: 37px;
   border-radius: 50%;
}
.box-container .box-content .my_researchs .card_infrormation .content_card h3{
    font-size: 13px;
    font-weight: bold;
}
.box-container .box-content .my_researchs .card_infrormation .content_card button{
    width: 45%;
    cursor: pointer;
    display: block;
    padding: 6px;
    background: #5644FC;
    border-radius: 5rem;
    color: #ffffff;
    transition: all 0.5s;
}
.box-container .box-content .my_researchs .card_infrormation .content_card button:hover{   
    background: #ffffff;
    color:   #5644FC;
} 










/* media queries  */




@media (max-width:768px) {

    .box-container .box-content .profile_information{
        flex-direction: column-reverse;
        margin-top: 109px;
        width: 357px;
    
    }
    
    .box-container .box-content .profile_information .card_infrormation {
        width: 333px;
    }

    .box-container .box-content .profile_information .background_image {
        width: 100%;
        
        
    }
    .box-container .box-content .profile_information .background_image img {
        width: 357px;
        height: 100%;
    }
    .box-container .box-content .my_researchs {
        flex-direction: column;
        margin-top: 10px;
    }
    .box-container .box-content .my_researchs .card_infrormation{
        width: 93%;

    }

   
}
 

/*  */

.profile {
    padding: 30px;
}

.profile-header {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

.profile-image-wrapper {
    width: 120px;
    height: 120px;
    position: relative;
    text-align: center;
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.upload-profile-photo-icon,
.upload-profile-photo-btn {
    color: var(--primary-color);
    background-color: #eee;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    padding: 0 5px;
    position: absolute;
    bottom: -5px;
    right: -5px;
    margin: auto;
    width: max-content;
    cursor: pointer;
    z-index: 10;
    font-size: 25px;
}

.upload-profile-photo-btn {
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: var(--dark-color);
    right: -65px;
}

.profile-username {
    font-size: 30px;
    color: var(--white-color);
    margin: 10px 0;
}

.profile-bio {
    font-size: 18px;
    font-weight: 500;
    color: var(--main-color);
    margin: 10px 0;
}

.user-date-joined strong {
    color: var(--gray-color);
    font-size: 17px;
}

.user-date-joined span {
    color: var(--green-sea-color);
    font-size: 15px;
    font-weight: 500;
}

.profile-update-btn {
    font-size: 21px;
    font-weight: 500;
    background-color:green;
    color: var(--white-color);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.profile-posts-list {
    width: 800px;
    margin: 20px auto;
}

.profile-posts-list-title {
    margin-bottom: 20px;
    padding: 5px 0;
    font-size: 40px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.delete-account-btn {
    background-color: var(--white-color);
    color: var(--red-color);
    padding: 5px;
    border: 1px solid var(--red-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
} 

/* Media Queries */

/* @media (max-width: 920px) {
    .profile-posts-list {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .profile {
        padding: 15px;
    }

    .profile-header {
        padding: 10px;
    }

    .profile-bio {
        text-align: center;
    }
} */